{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="icon" type="img/ico" href="{%static 'favicon.ico'%}"/>
    <title>Jonah|Portfolio Website</title>
    <script src="{%static 'main.js'%}" type="text/javascript" defer></script>
</head>
<body>
    {%block content%}
    {%endblock%}
</body>
</html>